**/Debug/*.log
**/Debug/*.ilk
**/Debug/*.obj
**/Debug/*.pdb
**/Debug/*.txt
**/Debug/*.idb
**/Debug/*.config
**/Debug/**/*.lastbuildstate
**/Debug/**/*.tlog
**/.vs/
obj
**/Release/*.exe.config
**/Release/*.pdb
**/Release/*.exe
